---
import IconBrandInstagram from "@tabler/icons/outline/brand-instagram.svg";
import { Image } from "astro:assets";
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

export interface SocialLink {
  name: string;
  href: string;
  icon: any;
}

interface Props extends HTMLAttributes<"footer"> {
  socialLinks?: SocialLink[];
  companyName?: string;
}

const footerStyles = tv({
  base: "@container w-full border-t py-12",
});

const {
  socialLinks = [
    {
      name: "Instgram",
      href: "",
      icon: IconBrandInstagram,
    },
  ],
  companyName = "Portland Bike Polo",
  class: className,
  ...rest
} = Astro.props;

const currentYear = new Date().getFullYear();
---

<footer class={footerStyles({ class: className })} {...rest}>
  <!-- outer wrapper -->
  <div class="mx-auto max-w-7xl px-4">
    <div class="flex flex-col items-center gap-6">
      <!-- Social Links -->
      <div class="flex gap-6">
        {
          socialLinks.map((social) => (
            <a
              href={social.href}
              target="_blank"
              rel="noopener noreferrer"
              class="text-muted-foreground hover:text-foreground transition-colors"
              aria-label={social.name}
            >
              <social.icon class="size-5.5" aria-hidden="true" />
            </a>
          ))
        }
      </div>

      <!-- Copyright -->
      <p class="text-muted-foreground text-center text-sm">
        &copy; {currentYear}
        {companyName}
      </p>
    </div>
  </div>
</footer>
